form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $form-background;
    padding: 45px;
    border: 2px solid $form-border;
    border-radius: 32px;
    margin-bottom: 20px;
  
    .form__user,
    .form__title,
    .form__note {
      margin: 10px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: $background-color;
      color: rgb(178, 232, 157);
  
      &::placeholder {
        color: #ffffff;
      }
    }
  
    .form__btn,
    .form__btnShowNote {
      background-color: $primary-color;
      color: $text-color;
      padding: 10px;
      border: none;
      border-radius: 3rem;
      cursor: pointer;
      transition: background-color 0.3s;
    
      &:hover {
        background-color: darken($primary-color, 10%);
        filter: hue-rotate(266deg);
      }
    }
    
  }
  
  .notes-article {
    background-color: $form-background;
    padding: 15px;
    border: 1px solid $form-border;
    border-radius: 35px;
    text-align: center;
  
    h2 {
      color: $user-titel-text;
      margin-bottom: 10px;
      text-decoration: underline;
    }
  
    .user-notes {
      color: rgb(185, 111, 111);
    }
  }